<div class="absolute top-0 bottom-0 left-0 right-0 h-screen md:hidden">
    <div class="absolute overflow-hidden top-[35%] left-[8%] w-[85%] h-[230px] rounded-[10px] modal-bg">
        <div class="w-full h-[70px] py-6 px-7 border-b flex items-center gap-3 mb-3">
            <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
            <input 
                type="text"
                placeholder="Filter by Location..."
                class="text-base p-[10px] overflow-hidden border-none focus:outline-none w-full caret-primary"
            >
        </div>
        <div class="w-full h-[60px] py-6 px-7 flex items-center gap-4">
            <input type="checkbox" class="">
            <h3>Full Time Only</h3>
        </div>
        <div class="px-7">
            <button class="btn-primary w-full mt-3 py-[15px] rounded-[7px]">Search</button>
        </div>
    </div>
</div>