.h-screen {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-bg {
    background-color: var(--background-color-elements);
}

.border-b {
    border-bottom-color: var(--color-checkbox);
}

input {
    background-color: var(--background-color-elements);
    color: var(--color-text);
}

h4 {
    color: var(--color-text);
}

.bg-close {
    background-color: var(--color-checkbox);
}

.bg-close:hover {
    background-color: #9daec2;
}

input[type="checkbox"] {
    background-color: var(--color-checkbox);
    border-color: var(--color-checkbox);
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--color-violet);
  }
  
  
  input[type="checkbox"]:checked::after {
    background-image: url('../../../assets/desktop/icon-check.svg');
    background-position: center;
  }