.dets {
    background-color: var(--background-color-elements);
}

h2, h3 {
    color: var(--color-text);
}

.info {
    background-color: var(--background-color-elements);
}

.btn-secondary {
    background-color: var(--background-color-btn-2);
    color: var( --color-btn-2);
}

.btn-secondary:hover {
    background-color: var(--background-color-btn-2-hover);
    color: var( --color-btn-2);
}