<div class="max-w-full w-[85%] mt-10 h-auto mx-auto">
    <div 
        class="w-full tracking-wider text-center text-primary"
        *ngIf="loading"
    >
        Loading... please wait
    </div>
    <div 
        class="w-full my-20 text-center text-error"
        *ngIf="error && !loading"
    >
        Something went wrong... try again
    </div>

    <div
        *ngIf="!loading && !error" 
        class="relative w-full h-[220px] md:h-[150px] flex items-center flex-col md:flex-row justify-center md:justify-between text-center md:text-left gap-4 dets rounded-[6px] md:rounded-[10px] -mt-[70px] mb-10"
    >
        <div 
            [style.background-color]="jobDetails.logoBackground"
            class="absolute -top-6 rounded-[18px] md:rounded-bl-[10px] md:rounded-none w-[55px] md:w-[23%] md:relative md:top-0 h-[50px] md:h-full flex items-center justify-center"
        >
            <img [src]="jobDetails.logo" alt="job.title">
        </div>
        <span class="md:w-[30%] mb-3">
            <h2 class="font-bold mb-3">{{ jobDetails.company}}</h2>
            <p>{{jobDetails.website}}</p>
        </span>
        <button class="btn-secondary md:mr-12 md:py-[20px]" (click)="redirect(jobDetails.website)">Company Site</button>
    </div>

    <div
        *ngIf="!loading && !error"
        class="w-full h-auto mb-10 px-[8%] rounded-[6px] md:rounded-[10px] info"
    >
        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-[8px]">
                <div class="flex items-center gap-2">
                    <p class="tracking-wide">{{ jobDetails.postedAt }}</p>
                    <span class="w-[5px] h-[5px] rounded-full bg-gray"></span>
                    <p class="tracking-wide">{{ jobDetails.contract }}</p>
                </div>
                <h3 class="font-bold tracking-wide">{{ jobDetails.position }}</h3>
                <h4 class="font-bold text-primary">{{ jobDetails.location }}</h4>
            </div>
            <button 
                class="btn-primary" 
                (click)="redirect(jobDetails.website)"
            >
                Apply Now
            </button>
        </div>
    </div>
</div>