<div 
    class="w-[85%] h-[70px] lg:h-[80px] bg-white mx-auto -mt-10 shadow-md rounded-lg flex items-center justify-between"
>
    <div class="flex items-center w-full h-full px-4 border-r border-lightGrey gap-4">
        <img 
            src="../../../assets/desktop/icon-search.svg" 
            class="hidden md:block" 
            alt="icon-search"
        >
        <input 
            type="text"
            class="border-none focus:outline-none focus:text-midnight text-base p-[10px] w-[85%] overflow-hidden h-[40px] rounded-[10px]"
            placeholder="Filter by title..."
        >
        <img src="../../../assets/mobile/icon-filter.svg" class="md:hidden" alt="icon-filter">
        <button class="bg-primary rounded-md p-[8px] text-white md:hidden">
            <img 
            src="../../../assets/desktop/icon-search - white.svg" 
            class="flex items-center fill-white" 
            alt="icon-search"
            >
        </button>
    </div>
</div>