<div 
    class="w-[85%] h-[70px] lg:h-[80px] mx-auto -mt-10 shadow-md rounded-lg flex items-center justify-between"
>
    <div class="flex items-center w-full h-full px-4 md:px-[20px] lg:px-[35px] gap-3 hover:cursor-pointer">
        <img 
            src="../../../assets/desktop/icon-search.svg" 
            class="hidden md:block" 
            alt="icon-search"
        >
        <input 
            type="text"
            [(ngModel)]="filterTitle"
            class="focus:outline-none text-base p-[10px] w-[85%] overflow-hidden h-[40px] rounded-[10px] hover:cursor-pointer caret-primary"
            placeholder="Filter by title..."
        >
        <img src="../../../assets/mobile/icon-filter.svg" class="md:hidden" alt="icon-filter">
        <button class="bg-primary rounded-md p-[8px] text-white md:hidden hover:bg-secondary">
            <img 
            src="../../../assets/desktop/icon-search - white.svg" 
            class="flex items-center fill-white" 
            alt="icon-search"
            >
        </button>
    </div>

    <div class="hidden w-full h-full md:flex md:items-center md:px-[20px] lg:px-[35px] border-l hover:cursor-pointer">
        <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
        <input 
            type="text"
            [(ngModel)]="filterLocation"
            class="border-none focus:outline-none text-base p-[10px] px-[25px] w-[85%] overflow-hidden h-[40px] rounded-[10px] hover:cursor-pointer caret-primary"
            placeholder="Filter by location..."
        >
    </div>

    <div class="hidden w-full h-full md:flex md:items-center md:px-[20px] lg:px-[35px] lg:justify-between md:justify-between border-l hover:cursor-pointer">
        <button 
            [ngClass]="{'btn_active': isChecked}" (click)="onChangeIsChecked()"
            class="btn"
        >
            <img *ngIf="isChecked" src="../../../assets/desktop/icon-check.svg" alt="icon-check"/>        
        </button>
        <p class="lg:hidden font-bold w-fit">Full Time</p>
        <p class="hidden lg:block font-bold w-fit">Full Time Only</p>
        <button class="btn-primary md:px-[12px] lg:px-[20px] lg:py-[8px]" (click)="onSearch()">Search</button>
    </div>
</div>