.mx-auto {
    background-color: var(--background-color-elements);
}

input {
    background-color: var(--background-color-elements);
    color: var(--color-text);
}

.btn,
.btn_active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--color-grey);
}

.btn:hover {
    transition: 0.3s;
    background-color: var(--color-light-violet);
}

.btn_active {
    background-color: var(--color-violet);
}

.btn_active:hover {
    transition: 0.3s;
    background-color: var(--color-light-violet);
}

p {
    color: var(--color-text);
}