.toggle-btn[data-active-theme='light']::before {
    transform: translateY(-50%) translateX(0);
}

.toggle-btn[data-active-theme='dark']::before {
    transform: translateY(-50%) translateX(115%);
}

header {
    background-image: url('../../../assets/bg-pattern-header-mb.svg');
}

@media (min-width: 768px) {
    header {
        background-image: url('../../../assets/bg-pattern-header-tb.svg');
    }
}

@media (min-width: 1024px) {
    header {
        background-image: url('../../../assets/bg-pattern-header-lg.svg');
    }
}
