<header 
    class="max-w-full w-full bg-cover bg-no-repeat overflow-hidden h-[150px] px-6 md:px-12 lg:px-32 flex items-start pt-8 justify-between md:rounded-bl-[85px] lg:rounded-bl-[100px]"
    style="background-image: url('../../../assets/mobile/bg-pattern-header.svg');"
>
    <img src="../../../assets/desktop/logo.svg" routerLink="/" class="lg:w-[120px] cursor-pointer" alt="logo-icon">
    <div class="flex items-center gap-4">
        <img src="../../../assets/desktop/icon-sun.svg" alt="sun-icon">
        <button 
            class="toggle-btn"
            [attr.data-active-theme]=" isDark ? 'dark': 'light' "
            (click)="themeSwitcher()"
        >
        </button>
        <img src="../../../assets/desktop/icon-moon.svg" alt="moon-icon">
    </div>
</header>