<div 
    class="max-w-full w-full overflow-hidden h-[150px] px-8 md:px-12 lg:px-32 flex items-start pt-8 justify-between md:rounded-bl-[85px]"
>
    <img src="../../../assets/desktop/logo.svg" class="lg:w-[120px]" alt="logo-icon">
    <div class="flex items-center gap-4">
        <img src="../../../assets/desktop/icon-sun.svg" alt="sun-icon">
        <div class="bg-white rounded-[100px] w-[60px] px-[6px] py-[2px]- cursor-pointer">
            <input 
                type="checkbox" 
                class="" 
                name="" 
                id=""
            >
        </div>
        <img src="../../../assets/desktop/icon-moon.svg" alt="moon-icon">
    </div>
</div>