<div 
    class="w-[85%] h-[70px] lg:h-[80px] mx-auto -mt-10 shadow-md rounded-lg flex items-center justify-between filter"
>
    <div class="flex items-center w-full h-full px-4 md:px-[20px] lg:px-[35px] gap-3 hover:cursor-pointer">
        <img 
            src="../../../assets/desktop/icon-search.svg" 
            class="hidden md:block" 
            alt="icon-search"
        >
        <input 
            type="text"
            class="focus:outline-none text-base p-[10px] w-[85%] overflow-hidden h-[40px] rounded-[10px] hover:cursor-pointer caret-primary"
            placeholder="Filter by title..."
            [(ngModel)]="filterTitle"
            name="filterTitle"            
        >
        <img src="../../../assets/mobile/icon-filter.svg" (click)="allJobsService.isModalOpen = true" class="md:hidden icon" alt="icon-filter">
        <button 
            class="bg-primary rounded-md p-[8px] text-white md:hidden hover:bg-secondary" 
            (click)="filterJobs()"
        >
            <img 
                src="../../../assets/desktop/icon-search - white.svg" 
                class="flex items-center" 
                alt="icon-search"
            >
        </button>
    </div>

    <div class="hidden w-full h-full md:flex md:items-center md:px-[20px] lg:px-[35px] border-l hover:cursor-pointer gap-1">
        <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
        <input 
            type="text"
            class="border-none focus:outline-none text-base p-[10px] px-[25px] w-[85%] overflow-hidden h-[40px] rounded-[10px] hover:cursor-pointer caret-primary"
            placeholder="Filter by location..."
            [(ngModel)]="filterLocation"
            name="filterLocation"   
        >
    </div>

    <div class="hidden w-full h-full md:flex md:items-center md:px-[20px] lg:px-[35px] md:justify-between border-l hover:cursor-pointer">
        <div class="flex items-center gap-5">
            <input 
                type="checkbox"
                class="peer relative appearance-none w-6 h-6 border rounded cursor-pointer focus:outline-none checked:bg-primary after:content-[''] 
                    after:w-full after:h-full after:absolute after:left-0 after:top-0 after:bg-no-repeat after:bg-center after:bg-[length:15px]"
                [(ngModel)]="fillterFullTime"
            >
            <h4 class="lg:hidden font-bold w-fit tracking-wide">Full Time</h4>
            <h4 class="hidden lg:block font-bold w-fit tracking-wide">Full Time Only</h4>
        </div>
        <button 
            class="btn-primary md:px-[12px] lg:px-[35px] lg:py-[12px]"
            (click)="filterJobs()"
        >
            Search
        </button>
    </div>
</div>

<div class="w-[85%] mx-auto my-16">
    <div 
        class="w-full tracking-wider text-center text-primary"
        *ngIf="loading"
    >
        Loading... please wait
    </div>
    <div 
        class="w-full my-20 text-center text-error"
        *ngIf="error && !loading"
    >
        Something went wrong... failed to fetch resources
    </div>
    <div *ngIf="filterJobs" class="flex flex-wrap md:justify-between w-full h-auto">
        <div 
            *ngFor="let job of filteredJobs"
            routerLink="/{{ job.id }}"
            class="relative jobs flex flex-col justify-between w-full md:w-[49%] lg:w-[31.5%] h-[250px] rounded-lg mb-[56px] cursor-pointer p-6 md:p-8 hover:shadow-md"
        >
            <div 
                [style.background-color]="job.logoBackground"
                class="absolute -top-6 rounded-[16px] w-[55px] h-[50px] flex items-center justify-center"
            >
                <img [src]="job.logo" alt="job.title">
            </div>
            <div class="flex flex-col gap-[10px] mt-[14px] lg:mt-[20px]">
                <div class="flex items-center gap-2">
                    <p class="tracking-wide">{{ job.postedAt }}</p>
                    <span class="w-[5px] h-[5px] rounded-full bg-gray"></span>
                    <p class="tracking-wide">{{ job.contract }}</p>
                </div>
                <h3 class="font-bold tracking-wide">{{ job.position }}</h3>
                <p>{{ job.company }}</p>
            </div>
            <h4 class="text-primary font-bold">{{ job.location }}</h4>
        </div>
    </div>

    <div *ngIf="filterJobs">
        <div
            *ngIf="!loading && !error" 
            class="flex items-center justify-center"
        >
            <button class="btn-primary">Load More</button>
        </div>
    </div>
</div>

<app-modal *ngIf="allJobsService.isModalOpen" (filterApplied)="applyFilters($event)"></app-modal>